<div class="cover">
  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div class="titleBar">
          <div class="titleItems">
            <div class="titlePic">
              <button mat-icon-button (click)="backClick()">
                <mat-icon>arrow_back</mat-icon>
              </button>
            </div>
            <div class="titleName">
              <div>Contacts</div>
            </div>
          </div>
          <div class="titleItems">
            <div class="titlePic">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>insert_invitation</mat-icon>
                  <span>Add</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>search</mat-icon>
                    <span>Search</span>
                  </button>
              </mat-menu>
            </div>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>