.cover{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .titleBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .titleItems{
    display: flex;    
  }

  .titleName{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    vertical-align: middle;    
  }