<div class="cover">
  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div class="searchBar">
          <div>
            <button mat-icon-button (click)="backClick()">
              <mat-icon>arrow_back</mat-icon>
            </button>
            Contacts
          </div>
          <div>
            <input class="searchText" type="text">
            <button mat-icon-button (click)="backClick()">
                <mat-icon>search</mat-icon>
              </button>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>