<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>

  </mat-drawer>

  <div class="example-sidenav-content">
      <h1>{{ (item | async)?.displayName }}</h1>
    <p>
      Hello {{userDetails.displayName}}
      <img [src]="userDetails.photoURL" [alt]="userDetails.displayName" class="profilePic rounded-circle">      
    </p>
    <button mat-raised-button class="loginButton" color="primary" (click)="signOut()">
      Sign Out
    </button>
    <button mat-raised-button class="loginButton" (click)="drawer.toggle()">
      Toggle sidenav
    </button>
    <p>
      <!-- {{users | json}} -->
    </p>
  </div>

</mat-drawer-container>