<div class="cover">
  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div class="titleBar">
          <div class="titleItems">
            <div class="titlePic">
              <div>
                <img [src]="userDetails.photoURL" [alt]="userDetails.displayName" class="profilePic rounded-circle">
              </div>
            </div>
            <div class="titleName">
              <div>{{userDetails.displayName}}</div>
            </div>
          </div>
          <div class="titleItems">
            <div class="titlePic">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="signOut()">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Sign out</span>
                </button>
              </mat-menu>
            </div>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="chatLayout">
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
      <mat-tab label="Chats"> 
          <app-chatlist></app-chatlist>
      </mat-tab>
      <mat-tab label="Groups"> TODO </mat-tab>
      <mat-tab label="Calls"> TODO </mat-tab>
    </mat-tab-group>
  </div>

  <div class="btnContacts">
    <button mat-fab routerLink="/contacts">
      <mat-icon aria-label="View contacts page">contacts</mat-icon>
    </button>
  </div>
</div>